body {
  margin: 0;
  background-color: lightgray;
  font-family: Arial, Helvetica, sans-serif;
}

.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; /* Centramos en toda la altura de la pantalla */
}

.container-home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.container-logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.container-personajes {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.personaje {
  text-align: center;
}

#btn-start,
#btn-reiniciar {
  background-color: chocolate;
  color: white;
  padding: 20px;
  font-size: 24px;
  margin-top: 05px;
  border-radius: 20px;
  font-weight: bold;
  text-transform: uppercase;
}

.btn-personaje {
  background-color: rgb(12, 60, 43);
  color: white;
  padding: 20px;
  font-size: 24px;
  margin-top: 05px;
  border-radius: 20px;
  font-weight: bold;
  text-transform: capitalize;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  border: solid 3px black;
  padding-bottom: 5px;
  height: 900px;
  width: 1200px;
}

#juego {
  overflow: hidden;
  position: relative;
  user-select: none;
  height: 900px;
  width: 1200px;
}

#pantalla-inicio {
  background-color: darkgray;
}

#pantalla-juego {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/wallpaper.jpg");
  opacity: 0.5;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#pantalla-juego,
#pantalla-fin,
#pantalla-fin-win {
  display: none;
}

img {
  height: auto;
}

#input-usuario {
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 15px;
  width: 300px;
  border: solid 1px black;
  border-radius: 10px;
  background-color: rgb(198, 195, 195);
  color: black;
  font-size: 22px;
}

/* ESTILOS RESPONSIVE */
/* smartphone */
@media screen and (min-width: 480px) {
  #img-logo,
  #img-gameover {
    width: 70%;
    padding-top: 30px;
  }
}

/* Desktop */
@media screen and (min-width: 992px) {
  #img-logo,
  #img-gameover {
    width: 400px;
    padding-top: 30px;
  }
}

/* estilos imagenes */
.imagen-opcion {
  width: 140px;
  height: 200px;
  margin-bottom: 20px;
}
